<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  
  <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../static/amazeui.min.css">
  <link rel="stylesheet" type="text/css" href="../static/feed.css">
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
  <script src="../static/semantic.min.js"></script>
  <script src="../static/feed.js"></script>
</head>
<body id="feed">
  <!-- 边栏 -->
  <div class="ui right large inverted vertical sidebar menu">
    <a class="active item" href="/">
      首页 
    </a>
    <a class="item">
      电商 
    </a>
    <a class="item">
      游戏 
    </a>
    <a class="item">
      社交 
    </a>
    <a class="item">
      O2O 
    </a>
    <a class="item">
      工具 
    </a>
    <a class="item">
      教育 
    </a>
  </div>
  <!-- end -->
  <!-- 头部菜单 -->
  
  <div class="ui divided two column padded " id="demo-view">
    <div class="left column am-header am-header-default">
      <h1 class="am-header-title">
        <a href="" class="">IdeaBox</a>
      </h1>
      <div class="ui right floated launch icon button am-header-right am-header-nav">
        <i class="sidebar icon" style="margin:10px;"></i>
      </div>
      
    </div>
  </div>
  <!-- end -->
  <!-- 图片 -->
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
    <li>
      <div class="am-gallery-item">
        <a href="/" class="">
          <img src=""/>
          <h3 class="am-gallery-title"></h3>
          <div class="am-gallery-desc">2015-05-23</div>
        </a>
      </div>
    </li>
  </ul>
  <!-- end -->
</body>
</html>