{% extends 'base.html'%}
{% block info %}


<ul data-am-widget="gallery" class="am-gallery am-avg-sm-1
  am-avg-md-1 am-avg-lg-1 am-gallery-default" data-am-gallery="{ pureview: false }">
    <li>
      <div class="am-gallery-item">
          <img src="{{ ideainfo[4] }}"/>
          <h3 class="am-gallery-title">{{ ideainfo[1] }}</h3>
          <div class="am-gallery-desc">{{ ideainfo[3] }}</div>
          <a onclick="localstore()" >添加标签</a>
      </div>
    </li>
</ul>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ ideainfo[0] }}" data-title="{{ ideainfo[1] }}" data-url="/{{ ideainfo[0] }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"feelmix"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<script type="text/javascript">
	var store = $.AMUI.store;
	function localstore(store) {
		store.set({{ ideainfo[1] }}, {{ ideainfo[0] }});
	}
	
</script>
<!-- 多说公共JS代码 end -->
{% endblock %}