{% extends 'base.html'%}
{% block ideabag %}
<div class="am-g" id="inner">

</div>
<button class="am-btn am-btn-warning" id="doc-confirm-toggle">邮件发送</button>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">邮件发送</div>
    <div class="am-modal-bd">
      是否确定发送相关信息？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>
	
<script type="text/javascript">
	function output() {
		var names = localStorage.length;
		if (names == 0){
			return;
		}else{
			for (var i=0;i<names;i++){
                var n = localStorage.key(i);
                if (!isNaN(n)){
                    var m = localStorage.getItem(n);
                    $('<div class="am-u-sm-3 am-u-sm-centered">'+m+'</div>').appendTo($('#inner'));
                    }
			}
		}
	}
</script>
<script type="text/javascript">
	function name() {
		localStorage.clear();
	}
</script>
{% endblock %}
