{% extends 'base.html'%}
{% block ideabag %}
<div class="am-g" id="inner">

</div>

<script type="text/javascript">
	function output() {
		var names = localStorage.length;
		if (names == 0){
			return;
		}else{
			for (var i=0;i<names;i++){
                var n = localStorage.key(i);
                if (!isNaN(n)){
                    var m = localStorage.getItem(n);
                    $('<div class="am-u-sm-3 am-u-sm-centered">'+m+'</div>').appendTo($('#inner'));
                    }
			}
		}
	}
	window.onload = output;
</script>
{% endblock %}
