{% extends 'base.html'%}
{% block content %}

<!-- 图片 -->
  <!-- end -->
<div>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }">
        {% for ideatuple in idealist%}
        <li>
    <div class="am-gallery-item">
      <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="远方 有一个地方 那里种有我们的梦想"
        />
        <h3 class="am-gallery-title">{{ideatuple[0]}}</h3>
        <div class="am-gallery-desc">{{ideatuple[3]}}</div>
      </a>
    </div>
  </li>
  {%endfor%}

</ul>
    </div>

{% endblock %}
